# Ambiente virtual Python
.venv/
venv/

# Arquivos temporários Python
__pycache__/
*.py[cod]

# Variáveis secretas
.env

# Banco SQLite local
instance/
*.sqlite3
*.db

# Configurações do PyCharm
.idea/

# Sistema operacional
.DS_Store